<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>
        {% for post in posts  %}
          <div class="">
            <p>Published : {{post.published_date}}</p>
            <a href="">{{post.title}}</a>
            <p>{{post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}

        <h1>This is jusst for testing</h1>
    </body>
</html>
